html, body {
	height: 100vh;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: monospace, sans-serif;
	justify-content: space-between;
	background-color: #ededed;
	margin: 0px;
}

main {
	display: flex;
	gap: 32px;
}

div.controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25em;
	align-self: center;
}

.controls img {
	height: 25px;
	width: 25px;
}

.controls input.color {
	width: 75px;
	height: 75px;
	transition: 0.1s;
	border: none;
}

.controls button {
	font-family: monospace, sans-serif;
	border-color: black;
	border-width: 2px;
	width: 85px;
	height: 35px;
	border-radius: 5px;
	cursor: pointer;
}


#clearMode:active {
	color: #ededed;
	background-color: black;
}

.clicked {
	color: #ededed;
	background-color: black;
}

.controls p {
	margin: 0px;
	font-weight: bold;
}

.controls input.range {
	cursor: pointer;
	border-color: black;
	padding: 0px;
	margin: 0px;
}

div.grid {
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	color: black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: crosshair;
	height: 512px;
	width: 512px;
}

footer {
	margin-bottom: 5px;
}

footer img{
	height: 25px;
	width: 25px;
	vertical-align: middle;
	transition: 0.4s;
}

footer img:hover{
	transform: translateY(-10px) rotate(360deg);
}

/*Credits

Colour picker icon
<a href="https://www.flaticon.com/free-icons/color-picker" title="color picker icons">Color picker icons created by Freepik - Flaticon</a>

*/